
body{
   
        background-image: url('../images/fondoA.jpeg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
         
      

}

        
        
        
        

